.imagenes{
    
   max-width: 100%;
   max-height: 90px;
}


    
.custom-card {
    min-height: 350px;
    width: 270px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84.1' height='145' viewBox='0 0 200 345'%3E%3Cg fill='none' stroke='%23DDD' stroke-width='2.2'%3E%3Cpolygon points='200 115 100 172.5 100 287.5 200 345 300 287.5 300 172.5 '/%3E%3Cpolygon points='0 115 -100 172.5 -100 287.5 0 345 100 287.5 100 172.5 '/%3E%3Cg fill='%23EEE'%3E%3Cpolygon points='100 -57.5 0 0 0 115 100 172.5 200 115 200 0 '/%3E%3Cpolygon points='100 287.5 0 345 0 460 100 517.5 200 460 200 345 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    max-width: 80%;
    transition: background-image 0.3s;
    border: 6px solid #FFA500; /* Establece un borde sólido de 2px con color naranja */
    padding: 15px;

    }


    .custom-card.card-1:hover {
        background-image: url("../assets/one_piece.png");
        background-size: cover;
    }
    
    .custom-card.card-2:hover {
        background-image: url("../assets/digimon.png");
        background-size: cover;
    }
    
    .custom-card.card-3:hover {
        background-image: url("../assets/pokemon.png");
        background-size: cover;
    }
    

.no-gutter-row {
    --bs-gutter-x: 0;
    margin-right: 0;
    margin-left: 0;
}

